body {

      margin: 0px;
      background-color: rgb(0, 0, 0);
}

header {

      background-color: black;
      color: white;

}

#promote {

      margin-top: 0rem;
      text-align: center;

}

#title {

      text-align: center;
      font-family: fancytitle;
      font-size: 6vw;
      margin: 0rem;
      margin-bottom: 1rem;

}
hr {

      color: rgb(35, 35, 35);
      margin: 0px;

}

nav {

      display: flex;
      justify-content: space-between;

}

a {

      text-decoration: none;
      color: white;
      font-size: 2rem;

}

#linkbild {

      height: 3rem;
      margin-right: 2vw;

}

.navbar {
      
      font-family: Arial, Helvetica, sans-serif;
      font-weight: bolder;
      font-size: 3rem;
      margin: 1rem;
      /*
      border: 0.2rem solid white;
      border-radius: 1rem;
      padding-top: 0.1rem;
      padding-bottom: 0.1rem;
      padding-left: 0.3rem;
      padding-right: 0.3rem;
      */
      
      
}

.navbar:hover {

      font-family: Arial, Helvetica, sans-serif;
      border: none;
      font-weight: bolder;

}

/* hambgörgar meny */
/* Kod baserat på exempel från tidigare i kursen */
.menu{
      height: 100vh;
      width: minmax(auto, 50vw);
      background: rgb(0, 0, 0);
      position: fixed;
      top: 0;
      right: -90vw;
      transition: Right 0.3s;
      box-shadow: 10px 0px 21px -10px rgba(0,0,0,0.75);
      z-index: 10;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-end;
}

.menu-button{
      cursor: pointer;
      display: flex;
      justify-content: flex-end;
      margin-right: 1rem;
      margin-bottom: 0.5rem;
}

.menu-button i.material-icons{
      font-size: 2.5rem;
}

.show{
      right: 0;
}

.fade-layer{
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0,0,0,0.5);
      backdrop-filter: blur(0.3rem);
      display: none;
      z-index: 5;
}

.fade-layer.visible{
      display: block;
}

main {

      background-image: url(/MISC/blackmarblenowhite.webp);
      display: flex;
      flex-direction: column;

}

/* sorting/filtrering: */

#sortering {

      padding-bottom: 1rem;
      padding-left: 1rem;
      padding-right: 1rem;
      backdrop-filter: blur(0.1rem);
      background-color: rgba(0,0,0,0.5);

}

.sorteringcontainer {

      color: white;
      font-weight: bold;

      display: block;
      position: relative;
      padding-left: 35px;
      margin-bottom: 1rem;
      cursor: pointer;
      font-size: 22px;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;

}

.sorteringcontainer input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
}

.checkmark {
      position: absolute;
      top: 0;
      left: 0;
      height: 25px;
      width: 25px;
      background-color: #eee;
}

.sorteringcontainer:hover input ~ .checkmark {
      background-color: #ccc;
}

.sorteringcontainer input:checked ~ .checkmark {
      background-color: rgb(255,215,0);
}

.checkmark:after {
      content: "";
      position: absolute;
      display: none;
}

.sorteringcontainer input:checked ~ .checkmark:after {
      display: block;
}

.sorteringcontainer .checkmark:after {
      left: 9px;
      top: 5px;
      width: 5px;
      height: 10px;
      border: solid white;
      border-width: 0 3px 3px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
} 


/* produkt kort: */

.container {

      display: grid;
      backdrop-filter: blur(0.3rem);
      background-color: rgba(0,0,0,0.5);

      overflow: auto;
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

      gap: 1rem;
      font-weight: bold;
      margin-top: 2rem;
      margin-bottom: 2rem;
      margin-left: 2rem;
      margin-right: 2rem;
      padding: 1rem;

}
.card {
      background: rgb(255, 255, 255);
      padding: 1rem;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
      text-align: center;
      width: 200px;
}
.card img {
      width: 100%;
      filter: brightness(10%);
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}
.card h3 {
      margin: 10px 0;
      font-size: 18px;
      color: rgb(218,165,32);
}
.card p {
      font-size: 14px;
      color: #666;
}
.card button {
      background: rgb(255,215,0);
      color: white;
      border: none;
      padding: 10px;
      border-radius: 0.1rem;
      cursor: pointer;
      margin-top: 10px;
      box-shadow: 0 0 1rem rgba(255, 215, 0, 0.4);
}
.card button:hover {
      background: rgb(218,165,32);
}

footer{

      color: rgb(103, 103, 103);
      margin: 3vw;
      font-size: 2vw;

}

#footerlink {

      color: rgb(218,165,32);
      text-decoration: underline;
      font-size: 3vw;

}

@media  (min-width: 700px) {

      .fade-layer{
            display: none;
      }
      .menu-button{
            display: none;
      }
      .menu {
            position: static;
            width: auto;
            height: auto;
            background: none;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly; 
            align-items: center;
      }
      .navbar{

            font-size: 1rem;
      }

      #linkbild {

      height: 1.4rem;
      margin-right: 0.5rem;
      
      }
      footer{

            margin: 2rem;
            font-size: 1rem;
      
      }

      #footerlink {

            font-size: 1.5rem;
      
      }
}

@media (min-width: 1000px) {

      main {

            display: flex;
            flex-direction: row;
      
      }

      .container {

            width: 100%;

      }

}

@font-face {

      font-family: fancytitle;
      src: url(/MISC/modernline.otf);

}

@font-face {

      font-family: fancytext;
      src: url(/MISC/Kugile_Demo.ttf);

}