body {

      margin: 0px;
      background-color: rgb(0, 0, 0);
}

header {

      background-color: black;
      color: white;

}

#promote {

      margin-top: 0rem;
      text-align: center;
 
}

#title {

      text-align: center;
      font-family: fancytitle;
      font-size: 6vw;
      margin: 0rem;
      margin-bottom: 1rem;

}
hr {

      color: rgb(35, 35, 35);
      margin: 0px;

}

nav {

      display: flex;
      justify-content: space-between;

}

a {

      text-decoration: none;
      color: white;
      font-size: 2rem;

}

#linkbild {

      height: 3rem;
      margin-right: 2vw;

}

.navbar {
      
      font-family: Arial, Helvetica, sans-serif;
      font-weight: bolder;
      font-size: 3rem;
      margin: 1rem;
      /*
      border: 0.2rem solid white;
      border-radius: 1rem;
      padding-top: 0.1rem;
      padding-bottom: 0.1rem;
      padding-left: 0.3rem;
      padding-right: 0.3rem;
      */
      
      
}

.navbar:hover {

      font-family: Arial, Helvetica, sans-serif;
      border: none;
      font-weight: bolder;

}

/* hambgörgar meny */
/* Kod baserat på exempel från tidigare i kursen */
.menu{
      height: 100vh;
      width: minmax(auto, 50vw);
      background: rgb(0, 0, 0);
      position: fixed;
      top: 0;
      right: -90vw;
      transition: Right 0.3s;
      box-shadow: 10px 0px 21px -10px rgba(0,0,0,0.75);
      z-index: 10;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-end;
}

.menu-button{
      cursor: pointer;
      display: flex;
      justify-content: flex-end;
      margin-right: 1rem;
      margin-bottom: 0.5rem;
}

.menu-button i.material-icons{
      font-size: 2.5rem;
}

.show{
      right: 0;
}

.fade-layer{
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0,0,0,0.5);
      backdrop-filter: blur(0.3rem);
      display: none;
      z-index: 5;
}

.fade-layer.visible{
      display: block;
}

h2 {

      color: white;
      margin-left: 7rem;
      margin-right: 7rem;
      padding: 3rem;
      text-align: center;
      font-weight: bolder;
      font-family: fancytext;
      letter-spacing: 0.1rem;
      background-color: rgb(20, 20, 20);


}

main {

      background-image: url(/MISC/blackmarble.png);

}

.shopping-grid {

      overflow: auto;
      display: grid;
      grid-template-columns: repeat(minmax(200px, 1fr),auto-fit);
      gap: 1rem;
      padding: 2rem;
      min-width: 300px;
      max-width: 50%;
      margin: 0 auto;
  
  }
  
  .card {

      color: rgb(0, 0, 0);
      text-align: left;
      backdrop-filter: blur(0.3rem);
      background-color: rgba(0,0,0,0.5);
  }
  
  .card h2 {
      
      font-size: 1.2rem;
      color: black;
      background-color: #ffffff;
      margin: 0%;
      padding: 0.5rem;
      text-align: center;
  
  }
  
  .card p {
  
      font-size: 1rem;
      margin-left: 1rem;
      margin-bottom: 1rem;
      color: white;
  
  }
  
  #cart {
      
      text-align: right;
      backdrop-filter: blur(0.3rem);
      background-color: rgba(0,0,0,0.5);
  }
  
  #cart h2 {
      font-size: 1.2rem;
      color: black;
      background-color: #ffffff;
      margin: 0%;
      padding: 0.5rem;
      text-align: center;
  }
  
  #cart p {
      font-size: 1rem;
      color: #ffffff;
      margin-left: 1rem;
      margin-bottom: 0.5rem;
  }
  
  #status {
  
      text-align: left;
      font-style: italic;
  
  }
  
  #sum {
  
      margin-top: 10rem;
      margin-right: 1rem;
  
  }
  
  #PostCode {
  
      margin-left: 1rem;
      margin-bottom: 1rem;
  
  }
  
  button {
      background-color: rgb(255,215,0);
      color: white;
      border: none;
      margin-top: 1rem;
      margin-left: 1rem;
      margin-right: 1rem;
      margin-bottom: 1rem;
      padding: 0.2rem 1rem;
      cursor: pointer;
      font-family: 'Times New Roman', Times, serif;
  }
  
  button:hover {
      background-color: rgb(218,165,32);
  }

footer{

      color: rgb(103, 103, 103);
      margin: 3vw;
      font-size: 2vw;

}

#footerlink {

      color: rgb(218,165,32);
      text-decoration: underline;
      font-size: 3vw;

}

@media  (min-width: 700px) {

      .fade-layer{
            display: none;
      }
      .menu-button{
            display: none;
      }
      .menu {
            position: static;
            width: auto;
            height: auto;
            background: none;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly; 
            align-items: center;
      }
      .navbar{

            font-size: 1rem;
      }

      #linkbild {

      height: 1.4rem;
      margin-right: 0.5rem;
      
      }
      #Om_osstext {
            font-size: 2rem;
      }
      footer{

            margin: 2rem;
            font-size: 1rem;
      
      }

      #footerlink {

            font-size: 1.5rem;
      
      }
}

@media (min-width: 1000px) {

      h3 {

            font-size: 5rem;

      }
      
      #Om_osstext {
            
            margin-left: auto;
            margin-right: auto;
            width: 950px;
            padding: 2rem;
      }


}

@font-face {

      font-family: fancytitle;
      src: url(/MISC/modernline.otf);

}

@font-face {

      font-family: fancytext;
      src: url(/MISC/Kugile_Demo.ttf);

}